@(user: String)

<html>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#eaeced">

    <tbody><tr height="30"><td align="center" valign="bottom">
        <table class="m_-5921115787650378436m_-1234487843630832823master-table" style="width:100%;max-width:600px" width="100%">
            <tbody><tr><td align="center" valign="bottom">
                <table class="m_-5921115787650378436m_-1234487843630832823responsive-table" border="0" cellpadding="0" cellspacing="0" valign="top" style="width:96.67%;max-width:580px" width="96.67%"><tbody><tr><td valign="bottom" align="right"><a style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-weight:200!important;font-size:12px;color:#989ca5!important;padding:1px 0;border-bottom:1px solid #bfc4c8;text-decoration:none!important"></a></td></tr></tbody></table>
            </td></tr>
            </tbody></table>
    </td></tr>
    <tr height="8" style="font-size:0;line-height:0"><td>&nbsp;</td></tr>
    <tr><td align="center" valign="top"><table class="m_-5921115787650378436m_-1234487843630832823master-table" style="width:100%;max-width:600px" width="100%">

        <tbody><tr><td align="center">
            <table class="m_-5921115787650378436m_-1234487843630832823responsive-table" width="96.67%" border="0" cellpadding="0" cellspacing="0" valign="top" style="width:96.67%;max-width:580px">
                <tbody><tr>

                    <td width="70"><a href="http://www.livelygig.com/"><img src="https://avatars1.githubusercontent.com/u/10788327?v=3&s=460" width="50.0" height="47.0" alt="InVision App" style="border:0" class="CToWUd"></a></td>


                    <td class="m_-5921115787650378436m_-1234487843630832823responsive-header-cell-big" style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:25px;line-height:30px!important;font-weight:200!important;color:#252b33!important">Welcome to livelyGig</td>

                </tr>
                </tbody></table>
        </td></tr>



        <tr height="40"><td>&nbsp;</td></tr>
        <tr><td align="center" valign="top">
            <table class="m_-5921115787650378436m_-1234487843630832823responsive-table" width="96.67%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" valign="top" style="width:96.67%;max-width:580px;overflow:hidden!important;border-radius:3px">
                <tbody>
                <tr>
                    <td><a href="http://www.livelygig.com/"><img src="https://static1.squarespace.com/static/579ad89db3db2b1cc2510454/t/57c4c46b3e00becb733f4c33/1391287287792/" class="m_-5921115787650378436m_-1234487843630832823hero-image CToWUd" width="580" style="border:0;max-width:100%!important"></a>
                    </td>
                </tr>


                <tr height="25"><td>&nbsp;</td></tr>
                <tr><td align="center">
                    <table width="85%">
                        <tbody><tr><td align="center"><h2 style="margin:0!important;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:200!important;color:#252b33!important"> Almost done!</h2></td></tr>

                        </tbody></table>
                </td>
                </tr>




                <tr><td align="center">
                    <table class="m_-5921115787650378436m_-1234487843630832823story-4" border="0" cellpadding="0" cellspacing="0" width="78%">
                        <tbody><tr><td align="center" style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#7e8890!important"><p style="margin-bottom:1em"><span style="font-weight:400"> Please click this link to activate your account and set a password.
               </span></p></td></tr>
                        </tbody></table>
                </td></tr>


                <tr><td align="center" valign="top">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr><td align="center" valign="top">
                            <a href="" style="background-color:#00a5ad;padding:14px 28px 14px 28px;border-radius:3px;line-height:18px!important;letter-spacing:0.125em;text-transform:uppercase;font-size:13px;font-family:'Open Sans',Arial,sans-serif;font-weight:400;color:#ffffff;text-decoration:none;display:inline-block;line-height:18px!important" >Activate Your Account</a>
                        </td></tr>
                        </tbody></table>
                </td></tr>

                <tr height="25"><td>&nbsp;</td></tr>

                <tr><td align="center">
                    <table class="m_-5921115787650378436m_-1234487843630832823story-4" border="0" cellpadding="0" cellspacing="0" width="78%">
                        <tbody><tr><td align="center" style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#7e8890!important"><p style="margin-bottom:1em"><span style="font-weight:400"> Helpful hint: You can always change your password by clicking on the "settings" tab near the top
                of the page.If you did not recently signup for a new account,please disregard this email.
               </span></p></td></tr>
                        </tbody></table>
                </td></tr>



                <tr><td align="center">
                    <table class="m_-5921115787650378436m_-1234487843630832823story-4" border="0" cellpadding="0" cellspacing="0" width="78%">
                        <tbody><tr><td style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#252b33!important"><p style="margin-bottom:1em"><span style="font-weight:400"> Cheers,
               </span></p></td></tr>
                        </tbody></table>
                </td></tr>

                <tr><td align="center">
                    <table class="m_-5921115787650378436m_-1234487843630832823story-4" border="0" cellpadding="0" cellspacing="0" width="78%">
                        <tbody><tr><td style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#252b33!important"><p style="margin-bottom:1em"><span style="font-weight:400">The Livelygig team
               </span></p></td></tr>
                        </tbody></table>
                </td></tr>

                <tr><td align="center">
                    <table class="m_-5921115787650378436m_-1234487843630832823story-4" border="0" cellpadding="0" cellspacing="0" width="78%">
                        <tbody><tr><td  style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#252b33!important"><p style="margin-bottom:1em"><span style="font-weight:400"> hello @user
               </span></p></td></tr>
                        </tbody></table>
                </td></tr>




                <tr height="50" class="m_-5921115787650378436m_-1234487843630832823last-tr-height"><td>&nbsp;</td></tr>
                </tbody></table>
        </td></tr>



        <tr height="25"><td>&nbsp;</td></tr>

        </tbody></table>
    </td>
    </tr>
    </tbody>
</table>
</body>
</html>




