@(user:String)

<body style="background-color:#eaeced;padding: 3% 15%">
<div style="font-weight: normal;padding-bottom: 50px;padding-top: 15px;font-style: :normal;display: flex;flex-direction: column;">
    <ul style="text-align: center;list-style: none;padding-left : 0px !important">
        <li>
            <img src="https://avatars1.githubusercontent.com/u/10788327?v=3&s=460"
                 style=" float: left; margin: -12px 5px 5px 10px !important;width: 50px;">
            <b style="font-size: 1.5rem;float: left;margin: 0!important;font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;font-weight: 200!important;color: #252b33!important;">Welcome
                to LivelyGig</b>

        </li>
    </ul>
    <div><img
            src="https://static1.squarespace.com/static/579ad89db3db2b1cc2510454/t/57c4c46b3e00becb733f4c33/1391287287792/"
            style="width: 100%; height: 28vw;"></div>
    <div style="background-color : white;font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;line-height: 30px!important;font-weight: 400!important;padding-right:10px">
        <ul style="display: inline;list-style: none;">
            <li style="padding-left:  15px">Dear <b>Shubham</b>,</li>
            <li style="padding-left:  15px">Almost done! Please click this link to activate your account and set a
                password.
            </li>
            <li style="text-align: center;margin: 10px">
                <button style="background-color: #00a5ad ;padding : 15px ;color:white;border: 0px;cursor: pointer;">
                    Activate account
                </button>
            </li>
            <li style="padding-left:  15px;color :#879097">Helpful hint: You can always change your password by clicking
                on the "settings" tab near the top of the page.If you did not recently signup for a new account,please
                disregard this email.
            </li>
            <li style="padding-left: 15px"><b>Cheers,</b></li>
            <li style="padding-left: 15px"><b>The Livelygig team</b></li>
            <li style="padding-left: 15px"><b>hello@livelygig.com</b></li>
        </ul>

    </div>
</div>
</body>