@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper._
@import b3.inline.fieldConstructor

@main(Messages("aboutLivelygig")) {
<fieldset class="col-md-10 col-md-offset-1">
    <legend>@Messages("aboutLivelygig")</legend>
    <p class="textAlignment">
        @Messages("aboutLivelygig.info")
    </p>
    <div>
        <a class="btn btn-md btn-primary col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4" href="@routes.ViewController.signup">OK</a>
    </div>
</fieldset>
}