@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/favicon.ico")">
    <title>@messages("home.title")</title>
    <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))">
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap-theme.min.css"))">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/appmain.css")">
</head>
<body class="homePage">
<header class="navbar navbar-inverse navbarStyle navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">@Messages("toggle.navigation")</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topHeight" href="@routes.ApplicationController.index()">
                <img src=@routes.Assets.versioned("images/LivelyGig-logo-symbol.svg") class="logoImg">
            </a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@routes.SignInController.view">@Messages("sign.in")</a></li>
                <li><a href="@routes.SignUpController.view">@Messages("sign.up")</a></li>
            </ul>
        </nav>
    </div>
</header>
<div >
    <iframe src="http://www.livelygig.com" class="iframes"></iframe>
</div>
</body>
</html>
