@(title: String)(implicit env: play.api.Environment)

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!--Livelygig Specific links and scripts-->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/org.webjars/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.min.css">

    <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/sjcl.js")"></script>
   <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/srp.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/bitArray.js")"></script>
   <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/bn.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/codecHex.js")"></script>
   <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/codecString.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/sha256.js")"></script>
   <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/sha512.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/aes.js")"></script>
   <script src="@routes.Assets.versioned("javascripts/srp-client/sjcl-core/random.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/srp-client/srp-client.js")"></script>

</head>
  <body>
       <div id="root">
       </div>
       @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
  </body>
</html>
