@import b3.inline.fieldConstructor
@(field: Field, options: (Symbol, Any)*)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
<section>
  @b3.inputWrapped("password",field,Symbol("data-pwd")->"true",Symbol("required")->"true",Symbol("data-error")->Messages("password.error"),'placeholder -> Messages("password"),'class->"input-lg"){input=>
  @input
  <div  class="help-block with-errors"></div>}
  <meter max="4" id="password-strength-meter"></meter>
  <p id="password-strength-text"></p>
</section>
