@(signInForm: Form[forms.SignInForm.Data])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor

@main(Messages("sign.in.title")) {
<fieldset class="col-md-6 col-md-offset-3">
    <legend>@Messages("sign.in.credentials")</legend>
    @helper.form(action = controllers.api.v1.auth.AuthController.signin(),Symbol("data-toggle")-> "validator") {
    @b3.inputWrapped( "email", signInForm("email"), 'placeholder -> "example@mail.com" ,'class->"input-lg",Symbol("required")->"true",Symbol("data-error")->Messages("email.error")) { input =>
    @input
    <div  class="help-block with-errors"></div>
    }
    @b3.inputWrapped( "password", signInForm("password"),'placeholder -> Messages("password"),'class->"input-lg",Symbol("required")->"true",Symbol("data-error")->Messages("password.error")) { input =>
    @input
    <div  class="help-block with-errors"></div>
    }
    @b3.checkbox(signInForm("rememberMe"), '_text -> Messages("remember.me"), 'checked -> true)
    <div class="form-group">
        <div>
            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.in")</button>
        </div>
    </div>
    }


    <div>
        <p class="not-a-member">@Messages("not.a.member")<a href="@routes.ViewController.signup">@Messages("sign.up.now")</a> | <a href="" title="@Messages("forgot.your.password")">@Messages("forgot.your.password")</a></p>
    </div>

</fieldset>
}
